@{
 ViewBag.Title = "About";
}

<h1>About</h1>
 
@{
    PersonGridModel personGridModel = new PersonGridModel()
   {
    GridTitle = "Employees",
    Persons = new List<Person>()
    {
        new Person() { PersonName = "Sarath", JobTitle = "Developer" },
        new Person() { PersonName = "Srinivas", JobTitle = "UI Developer" },
        new Person() { PersonName = "Varun", JobTitle = "Analyst" }
    }
   };
}
<vc:grid grid="personGridModel"></vc:grid>
